*{
  box-sizing:border-box;
}
body { 
  font-family: var(--text-md-normal);
  scroll-behavior: smooth; /* Enable smooth scrolling */
}
html::-webkit-scrollbar{
  width: 6px;
}
html::-webkit-scrollbar-track{
  background-color: rgba(0, 0, 0, 0);
}
html::-webkit-scrollbar-thumb{
  border-radius: 20px;
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
}

html{
  scrollbar-color: black;
  scrollbar-width: thin;
}
.container{
  max-width: 1600px;
  padding: 15px;
}
.fluid{
  width: 100%;
}
.home-work {
  background-color: var(--color-white);
  width: 100%;
  gap: 50px;
  text-align: center;
  font-size: var(--text-md-normal-size);
  color: var(--color-black);
}
.header {
  align-self: stretch;
  background-color: var(--color-white);
  padding: 0 50px;
  text-align: left;
  font-size: var(--text-lg-medium-size);
  color: var(--color-black);
}
.blog,
.home {
  line-height: 24px;
}
.blog {
  text-align: right;
}
.image-3 {
  cursor: pointer;
  border: 0;
  padding: 0;
  width: 200px;
}
.frame-parent {
  margin-left: auto;
  justify-content: center;
  gap: 72px;
}
.home-parent {
  width: auto;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  gap: 25px;
}
.frame-parent,
.header,
.image-3-parent {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.image-3-parent{
  width: 100%;
}
.home-parent a{
  color: rgb(17, 10, 10);
  text-decoration: none; /* Remove underline */
  padding: 10px;
  cursor: pointer;
  transition: color 0.5s ease;
  font-weight: bold;
  font-size: 16px;
}
.home-parent a:hover {
  color: var(--color-slateblue)
}
.frame-group {
  display: grid;
  width: 100%;
  justify-content: space-evenly;
  position: relative;
  padding: 0 15px;
}
.maintheme-inner {
  position: absolute;
  width: 80%;
  top: 20%;
  left: 17%;
}
.minds {
  color: var(--color-mediumslateblue-100);
}
.main-description-parent {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-between;
  max-width: 575px;
}
.main-description {
  line-height: 82px;
}
.sub-description {
  font-size: var(--text-md-normal-size);
  line-height: 189%;
  font-weight: 600;
  color: var(--color-dimgray);
  z-index: 1;
}
.text{
  font-size: var(--text-lg-medium-size);
  line-height: 28px;
  font-weight: 600;
  text-align: left;
  color: var(--color-white);
}
.button,
.button-base {
  border-radius: var(--br-xl);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
.button {
  margin: 20px 0 36px;
  cursor: pointer;
  border: 0;
  padding: 0;
  background-color: transparent;
}
.button:hover .button-base{
  opacity: 0.8;
}
.button-base {
  background-color: var(--color-mediumslateblue-100);
  box-shadow: var(--shadow-xs-focused-4px-primary-100);
  border: 1px solid var(--color-mediumslateblue-100);
  overflow: hidden;
  padding: var(--padding-base) var(--padding-9xl);
  transition: ease-in-out 0.2s;
  z-index: 2;
}
.maintheme-wrapper {
  position: relative;
}
.collaboration {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  font-size: var(--font-size-11xl);
  color: var(--color-mediumslateblue-100);
  margin-top: auto;
}
.collaboration-child {
  border-radius: 50%;
  background-color: rgba(126, 86, 217, 0.6);
  width: 22.6px;
  height: 22.2px;
}
.p {
  margin: 0;
}
.collaboration2 {
  margin: 0;
  font-size: var(--font-size-6xl);
  font-weight: 300;
  color: var(--color-gray-100);
}
.icon-wraper{
  margin: auto;
  width: 100%;
  display: flex;
  justify-content: center;
}
.vector-icon{
  width: 150px;
  height: auto;  
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.vector-icon1{
  max-width: 80px;
  height: auto;
  z-index: 1;
}
.group-parent {
  grid-column: 1;
  grid-row: 2;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  max-width: 649px;
}
.mainimage-inner,
.placeholder{
  position: absolute;
  border: 0.8px solid var(--color-mediumslateblue-100);
}
.mainimage-inner,
.ellipse-div{
  background-color: var(--color-mediumslateblue-100);
}
.mainimageholder {
  position: relative;
  grid-column: 2;
  grid-row: 1 / 3;
  padding: 50px 0;
}
.placeholder {
  width: 100%;
  height: 100%;
  top: -50px;
  left: -50px;
  border-radius: 50%;
}
.mainimage-inner {
  top: 90%;
  left: 10%;
  border-radius: 50%;
  width: 38.6px;
  height: 36.9px;
}
.mainimage-wrapper{
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}
.mainimage-wrapper-inner{
  position: relative;
  max-width: 600px;
  min-width: 340px;
  width: 100%;
}
.main-img-wrapper{
  position: relative;
  overflow: hidden;
  border-radius: 50%;
  width: 100%;
  border: 1px solid var(--color-mediumslateblue-100);
  line-height: 0px;
}
.main-img-wrapper img{
  width: 100%;
}
.mainimage-child {
  position: absolute;
  top: 30%;
  left: 30%;
  min-width: 300px;
  width: 100%;
}
.ellipse-div {
  position: absolute;
  top: 90%;
  left: 100%;
  border-radius: 50%;
  width: 12px;
  height: 12px;
}
.online-courses {
  position: relative;
  font-size: var(--font-size-mini);
  opacity: 0.5;
}
.icon {
  position: relative;
  width: 49px;
  height: 49px;
}
.content{
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 6.12px;
}
.tutors {
  opacity: 0.5;
}
.tutors-parent {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
.mainsection-inner {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.mainsection-inner {
  align-self: stretch;
  justify-content: space-between;
}
.we-are-a {
  display: inline-block;
  flex-shrink: 0;
  font-size: var(--text-md-normal-size);
  line-height: 189%;
  font-weight: 600;
  color: var(--color-dimgray);
  height: auto;
}
.button-base2,
.button2 {
  border-radius: var(--br-5xs);
}
.button2 {
  cursor: pointer;
  border: 0;
  background-color: transparent;
}
.button-base2 {
  align-self: stretch;
  flex: 1;
  background-color: var(--color-mediumslateblue-100);
  box-shadow: var(--shadow-xs-focused-4px-primary-100);
  border: 1px solid var(--color-mediumslateblue-100);
  overflow: hidden;
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 6px 12px;
}
.text2 {
  line-height: 28px;
  font-weight: 600;
  color: var(--color-white);
}
.collaboration5 {
  margin: 0;
  font-weight: 300;
  color: var(--color-gray-100);
}
.collaboration4 {
  line-height: 34px;
  display: inline-block;
}
.frame-inner{
  position: relative;
  width: 94px;
  height: 27px;
}
.vector-parent {
  width: 259px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-3xl);
}
.mainsection {
  background-color: var(--color-white);
  flex-direction: column;
}
.mainsection {
  align-self: stretch;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 var(--padding-21xl) var(--padding-9xl);
  text-align: left;
  font-size: 64px;
  color: var(--color-gray-100);
}
.heading,
.subheading {
  align-self: stretch;
  position: relative;
  line-height: 24px;
  font-weight: 600;
}
.heading {
  font-size: var(--display-md-semibold-size);
  line-height: 44px;
  color: var(--color-gray-100);
}
.heading-and-supporting-text {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.icon-wrapper {
  border-radius: var(--br-3xs);
  background-color: var(--color-lavender-100);
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-xs) var(--padding-2xs);
}
.user-experience {
  position: relative;
  letter-spacing: 0.02em;
  line-height: 150%;
}
.lessons-on-design {
  align-self: stretch;
  position: relative;
  font-size: var(--text-lg-medium-size);
  line-height: 180%;
}
.frame-parent2 {
  display: flex;
  flex-direction: column;
  gap: var(--gap-11xl);
}
.icon3 {
  width: 32px;
  height: 32px;
  font-size: 32px;
  text-align: center;
}
.frame-parent6,
.icon-container {
  display: flex;
  justify-content: flex-start;
}
.icon-container {
  border-radius: var(--br-3xs);
  background-color: var(--color-lavender-200);
  flex-direction: column;
  align-items: flex-start;
  padding: var(--padding-xs);
}
.frame-parent6 {
  flex-direction: row;
  align-items: center;
  gap: var(--gap-xl);
}
.courses{
  display: flex;
  align-items: center;
  justify-content: center;
  gap: var(--gap-21xl);
  background-color: var(--color-white);
  flex-direction: column;
  color: var(--color-slateblue);
  margin-top: 50px;
}
.classes-in-development {
  font-size: var(--text-lg-medium-size);
  line-height: 180%;
  color: var(--color-dimgray);
  display: inline-block;
  padding: 0 10px;
}
.frame-container {
  flex-wrap: wrap;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: left;
  align-items: stretch;
  font-size: var(--font-size-5xl);
  color: var(--color-white);
}
.frame-div,
.frame-parent4{
  display: flex;
  justify-content: center;
}
.frame-parent4 {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 15px;
  flex: 0 0 25%;
  max-width: 25%;
}

.frame-parent4:hover .frame-content-wraper{
  color: white;
  border-radius: var(--br-xs);
  background-color: var(--color-mediumslateblue-100);
  box-shadow: 0 67.1px 109.06px rgba(0, 0, 0, 0.05);
}

.frame-parent4:hover .classes-in-development{
  color: white;
}
.frame-parent4:hover .icon3{
  color:black
}

.frame-content-wraper{
  display: flex;
  height: 100%;
  max-width: 350px;
  border-radius: var(--br-xs);
  background-color: var(--color-white);
  box-shadow: 0 67.1px 109.06px rgba(0, 0, 0, 0.05);
  border: 1px solid var(--color-gainsboro-200);
  flex-direction: column;
  padding: 22px 22px var(--padding-21xl) 22px;
  gap: 18px;
  color: var(--color-gray-100);
}

.frame-div {
  flex-direction: row;
  align-items: center;
  gap: var(--gap-21xl);
}
.alumni-success-stories {
  position: relative;
  font-weight: 600;
  transform: rotate(0.15deg);
}
.each-of-these {
  position: relative;
  font-size: var(--text-xl-normal-size);
  color: var(--color-slategray);
}
.alumni-success-stories-parent {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: var(--gap-3xs);
  padding: 10px;
}
.image-4-icon {
  position: relative;
  max-width: 100%;
  /* height: 286px; */
  object-fit: cover;
}
.supporting-text,
.text4 {
  position: relative;
  line-height: 20px;
}
.text4 {
  font-weight: 500;
}
.supporting-text {
  color: var(--color-slategray);
}
.avatar-label-group {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
}
.arrow-up-right-icon {
  position: relative;
  width: 24px;
  height: 24px;
  overflow: hidden;
  flex-shrink: 0;
}
.heading-and-icon,
.icon-wrap {
  display: flex;
  justify-content: flex-start;
}
.icon-wrap {
  flex-direction: column;
  align-items: flex-start;
  padding: var(--padding-9xs) 0 0;
}
.heading-and-icon {
  align-self: stretch;
  flex-direction: row;
  align-items: center;
  gap: var(--gap-base);
}
.subheading1,
.supporting-text1 {
  align-self: stretch;
  position: relative;
}
.subheading1 {
  line-height: 20px;
  font-weight: 600;
  color: var(--color-slateblue);
}
.supporting-text1 {
  font-size: var(--text-md-normal-size);
  line-height: 24px;
  color: var(--color-slategray);
}
.heading-and-text {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
.heading-and-text {
  align-self: stretch;
  gap: var(--gap-xs);
}
.alumnisuccess,
.alumnisuccess-inner {
  display: flex;
  align-items: center;
}
.alumnisuccess {
  flex-direction: column;
  background-color: var(--color-white);
  justify-content: flex-start;
  padding: 32px 32px;
  max-width: 1600px;
  gap: var(--gap-11xl);
  text-align: left;
  font-size: var(--display-md-semibold-size);
}
.alumnisuccess-inner {
  flex-wrap: wrap;
  justify-content: center;
  font-size: var(--text-sm-semibold-size);
  color: var(--color-gray-100);
}
.blog-post-card-wraper{
  padding: 15px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex: 0 0 25%;
  max-width: 25%;
}
.blog-post-card {
  max-width: 400px;
  border-radius: var(--br-5xs);
  background-color: var(--color-white);
  box-shadow: var(--shadow-lg);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: var(--padding-5xl) var(--padding-mini);
  gap: var(--gap-34xl);
}
.applytoday {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--color-white);
  overflow: hidden;
  flex-shrink: 0;
  flex-direction: column;
  padding: 31px 75px;
  max-width: 1200px;
  gap: var(--gap-19xl);
  text-align: left;
  font-size: 48px;
}
.ready-to-build-the-future-parent {
  align-self: stretch;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: var(--gap-19xl);
}
.ready-to-build-container {
  position: relative;
  letter-spacing: -0.02em;
  line-height: 48px;
  font-weight: 600;
}
.no-matter-what {
  align-self: stretch;
  font-size: var(--font-size-11xl);
  letter-spacing: 0.01em;
  line-height: 180%;
  color: var(--color-slategray);
  text-align: center;
}
.apply-today-wrapper {
  text-decoration: none;
  border-radius: var(--br-xl);
  background-color: var(--color-mediumslateblue-100);
  display: inline-block;
  padding: var(--padding-xs) var(--padding-6xl);
  text-align: center;
  font-size: var(--font-size-6xl);
  color: var(--color-white);
  cursor: pointer;
}
.apply-today {
  line-height: 45px;
}
.donateframe {
  display: grid;
  grid-template-columns: 50% 1fr;
  column-gap: 36px;
  max-width: 1600px;
  margin: 0 0 80px;
  overflow: hidden;
  padding: 30px;
  text-align: left;
  font-size: 40px;
}
.shape-whats-possible {
  font-weight: 600;
  margin-bottom: 25px;
  padding-top: 60px;
  text-align: center;
}

.donateframe-inner {
  display: flex;
  margin-top: 25px;
  flex-direction: column;
  align-items: center;
}

.emerging-technologies-should{
  display: flex;
  align-items: center;
  margin-bottom: 50px;
  font-size: var(--font-size-5xl);
  letter-spacing: 0.01em;
  line-height: 180%;
  color: var(--color-slategray);
  text-align: center;
}

.donate-image-wraper{
  grid-row: 1 / 3;
  grid-column: 2;
  max-width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.donate-image-wraper img{
  max-width: 100%;
}
.instructures {
  align-self: stretch;
  background-color: var(--color-whitesmoke-100);
  color: var(--color-slateblue);
}

.content5,
.instructures{
  display: flex;
  align-items: center;
  justify-content: center;
}
.frame-parent16,
.instructures {
  flex-direction: column;
}
.frame-parent16 {
  gap: 29px;
  max-width: 1600px;
}
.content5 {
  flex-direction: row;
  flex-wrap: wrap;
  font-size: var(--text-lg-medium-size);
  color: var(--color-gray-100);
}
.team-member-wrap{
  background-color: var(--color-whitesmoke-100);
  padding: var(--padding-lg);
  flex: 0 0 25%;
  max-width: 25%;
}

.image-3-icon {
  width: 320px;
  height: auto;
  object-fit: cover;
}
.supporting-text12 {
  flex: 1;
  line-height: 24px;
}
.supporting-text-wrapper {
  align-self: stretch;
  justify-content: center;
  padding: 0 var(--padding-lg);
}
.heading1,
.our-philosophy-is{
  align-self: stretch;
}
.heading1 {
  font-size: var(--display-md-semibold-size);
  letter-spacing: -0.02em;
  line-height: 44px;
  font-weight: 600;
  color: var(--color-gray-100);
}
.our-philosophy-is {
  font-size: var(--text-xl-normal-size);
  line-height: 30px;
  color: var(--color-slategray);
}
.subheading-parent {
  align-self: stretch;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: var(--gap-xl);
}
.avatar-icon {
  border-radius: var(--br-21xl);
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
  object-fit: cover;
}
.name,
.role {
  align-self: stretch;
}
.name {
  line-height: 28px;
  font-weight: 500;
}
.role {
  font-size: var(--text-md-normal-size);
  line-height: 24px;
  color: var(--color-slateblue);
}
.name-and-role,
.name-and-supporting-text {
  align-self: stretch;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
}
.name-and-supporting-text {
  gap: var(--gap-5xs);
}

.team-member,
.team-member-wrap,
.text-and-social-links {
  align-self: stretch;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

.button-base4,
.button4,
.social-icons,
.supporting-text-wrapper {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.social-icons {
  padding: 12px 0;
  justify-content: flex-start;
  gap: 10px;
}

/* link hover effect */
.facebook:hover{
  color: #316FF6;
}
.instagram:hover{
  color: #d62976 ;
}
.linkedin:hover{
  color:#0072b1;
}
.x-twitter:hover{
  color: black;
}
.youtube:hover{
  color:#FF0000;
}
.footsection .x-twitter:hover{
  color: white;
}
.button-base4,
.button4 {
  justify-content: center;
}
.button4 {
  align-items: flex-start;
  justify-content: flex-start;
}
.content6,
.logo-and-supporting-text-parent,
.section {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.links,
.logo-and-supporting-text {
  flex: 0 0 50%;
  max-width: 50%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.logo-and-supporting-text-parent{
  width: 100%;
  flex-wrap: wrap;
  justify-content: space-around;
  padding: var(--padding-mid) var(--padding-6xl);
}
.logo-and-supporting-text {
  flex-direction: column;
}
.links {
  flex-direction: column;
  text-align: left;
}
.content6 {
  align-self: stretch;
  width: 691px;
  justify-content: center;
}
.section {
  justify-content: space-between;
  padding: 20px 489px;
  text-align: left;
  color: #98a2b3;
  position: relative;
}
.section::before{
  content: '';
  position: absolute;
  top: 0;
  height: 1px;
  left: 8vw;
  right: 8vw;
  background-color: grey;
}
.bottom-section{
  width: 100%;
}
.icon-a-wrapper{
  text-decoration: none;
  color: grey;
}

.footsection,
.home-work {
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.footsection {
  align-self: stretch;
  background-color: var(--color-gray-100);
  gap: var(--gap-3xs);
  color: var(--color-whitesmoke-300);
}
.buzzbryte-link{
  text-decoration: none;
  color:inherit;
}
@media screen and (max-width: 1200px) {
  .mainimage-child{
    top : 140px
  }
  .frame-child{
    width: 400px;
    height:400px;
  }
  .collaboration-item{
    height: 60px;
  }
  .mainsection{
    font-size: 55px;
  }
  .main-description-parent{
    height: auto;
  }
  .maintheme{
    height: auto;
  }
  .frame-parent4{
    flex: 0 0 50%;
    max-width: 50%;
  }

  /* changing order for donate frame */
  .donateframe{
    grid-template-columns: 100%;
  }
  .shape-whats-possible{
    grid-row: 1;
  }
  .donate-image-wraper{
    grid-row: 2;
    grid-column: 1;
  }
  .donateframe-inner{
    grid-row: 3
  }
  .blog-post-card-wraper{
    flex: 0 0 50%;
    max-width: 50%;
  }
  .frame-div{
    flex-direction: column;
  }

  .team-member-wrap{
    flex: 0 0 50%;
    max-width: 50%;
  }
  .footsection {
    align-items: center;
    justify-content: center;
  }
}
@media screen and (max-width: 960px) {
  .home-parent{
    display: none;
  }
  .frame-group{
    grid-template-columns: 100%;
  }
  .mainimageholder{
    grid-row: 2;
    grid-column: 1;
  }
  .group-parent{
    grid-row: 3;
  }
  .mainimage-child{
    top : 140px
  }
  .frame-child{
    width: 400px;
    height:400px;
  }
  .collaboration-item{
    display: none;
  }
  .mainsection{
    font-size: 50px;
    padding: 0px;
  }
  .main-description{
    height: auto;
  }
  .main-description-parent{
    height: auto;
  }
  .maintheme{
    height: auto;
  }
  .frame-div{
    flex-direction: row;
  }
  .heading1 {
    font-size: var(--font-size-11xl);
    text-align: center;
  }
  .home-work {
    align-items: center;
    justify-content: space-between;
    gap: var(--gap-0);
  }
}
@media screen and (max-width: 430px) {
  .header{
    padding: 5px;
  }
  .home-parent {
    display: none;
  }
  .image-3{
    width: 170px;
  }
  .main-description {
    font-size: var(--font-size-13xl);
    line-height: 180%;
    text-align: left;
  }

  .main-description-parent {
    height: auto;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-end;
    transform: rotate(0deg);
  }
  .vector-icon1{
    width: 45px;
  }

  .mainsection {
    display: flex;
    flex-direction: row;
    justify-content: left;
    padding : 0px;
    margin: 0px 5px;
    padding-bottom: 0;
    height: fit-content;
  }
  .courses{
    gap: 10px;
  }

  .alumnisuccess{
    padding: 10px;
  }
  .frame-container,
  .frame-div{
    flex-direction: column;
  }
  .frame-parent4{
    flex: 0 0 100%;
    max-width: 100%;
    
  }
  .blog-post-card-wraper{
    flex: 0 0 100%;
    max-width: 100%;
  }
  .links{
    order: 1;
  }
  .logo-and-supporting-text{
    order: 2;
  }
  .links,
  .logo-and-supporting-text{
    flex: 0 0 100%;
    max-width: 100%;
  }
  .applytoday{
    padding: 20px;
  }
  .ready-to-build-container{
    line-height: normal;
    font-size: var(--font-size-13xl);
    text-align: center;
  }
  

  /* for ready to build section inner content */
  .no-matter-what{
    font-size: var(--text-xl-normal-size);
    /* line-height: normal; */
  }
  .apply-today-wrapper{
    padding: 7px 20px;
  }
  .donateframe{
    padding: 20px;
  }
  .shape-whats-possible{
    line-height: normal;    
    font-size: var(--font-size-13xl);
    margin-bottom: 10px;
  }
  .emerging-technologies-should{
    margin-bottom: 20px;
    font-size: var(--text-xl-normal-size);
  }
  .team-member-wrap{
    flex: 0 0 100%;
    max-width: 100%;
  }
  .links{
    order: 2;
  }
  .logo-and-supporting-text{
    order: 1;
  }
  .links,
  .logo-and-supporting-text{
    flex: 0 0 100%;
    max-width: 100%;
  }
 .heading{
    font-size: 25px;
    line-height: normal;
  }
}